.transferContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

.Appbar {
  position: sticky;
  top: 0;
  z-index: 999;
}

.app-container.blur {
  filter: blur(8px);
}

.loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
